#leftPanel
{
   -fx-background-image: url('./leftPanel.png');
   -fx-background-repeat: stretch;   
   -fx-background-position: center center;
}

#rightPanel
{
   -fx-background-image: url('./rightPanel.png');
   -fx-background-repeat: stretch;   
   -fx-background-position: center center;
}

#arena
{
   -fx-background-image: url('./arena.png');
   -fx-background-repeat: stretch;   

}

#prebattleBackground
{
   -fx-background-image: url('./prebattleBackground.png');
   -fx-background-repeat: stretch;   
   -fx-background-position: center center;
}

#creamBlack {
    -fx-background-color: #404041;
    -fx-text-fill: #e7e7e8;
    -fx-background-radius: 0;
}

#creamBlack:hover{
    -fx-background-color: #e7e7e8;
    -fx-text-fill: #404041;
}

#creamWhite {
    -fx-background-color: #e7e7e8;
    -fx-text-fill: #404041;
    -fx-background-radius: 0;
}

#creamWhite:hover {
    -fx-background-color: #404041;
    -fx-text-fill: #e7e7e8;
}

.SplitPane{
    -fx-background-radius: 0;
}

.GridPane{
    -fx-background-radius: 0;
}

.AnchorPane{
    -fx-background-radius: 0;
}