#leftPanel
{
   -fx-background-image: url('./leftPanel.png');
   -fx-background-repeat: stretch;   
   -fx-background-position: center center;
}

#rightPanel
{
   -fx-background-image: url('./rightPanel.png');
   -fx-background-repeat: stretch;   
   -fx-background-position: center center;
}

#arena
{
   -fx-background-image: url('./arena.png');
   -fx-background-repeat: stretch;   

}
